.jetS {
    position: absolute;
    height: 4px;
    width: 10px;
    background: #E9961A;        
    transform-origin: 0px 2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
  }

.jet-fire {
  position: absolute;
  padding-left: 120px;
  opacity: 0;
  width: 60px;
  height: 20px;
  top: -28px;
  left: -60px;
}

  .jetS.left {        
    top: 0px;
    width: 5px;
  }

  .jetS.center {        
    top: 8px;   
    width: 9px;            
  }    

 .jetS.right {        
    top: 16px;
    width: 5px;
  }          