zz.descriptionVacancyCont{
  padding: 2rem;
  div{
    padding-bottom: 2rem;
  }
}
.submitAplicationDiv{
  width: 100%;
  text-align: center;
}
.descriptionVacancyCont div {
  padding-bottom: 1rem;
}
.aplicationContainer {
  padding: 4rem 0 0;
  max-width: 500px;
  margin: auto;
}

.linkedinCont{
  max-width: 240px;
  text-align: center;
  background-color: #fefefe;
  padding: 1rem;
}
