@font-face {
  font-family: 'Avenir-Bold';
  src: url('../fonts/Avenir/AvenirNextCyr-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Regular';
  src: url('../fonts/Avenir/AvenirNextCyr-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('../fonts/Avenir/AvenirNextCyr-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextRegular';
  src: url('../fonts/AvenirNext/AvenirNext-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextMedium';
  src: url('../fonts/AvenirNext/AvenirNext-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url('../fonts/AvenirNext/AvenirNext-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}