
@media screen and (min-width: 1280px){
  .vacanceListMainPage{
    display: flex;
    flex-wrap: wrap;
    padding-right: 96px;
    padding-left: 96px;
    width: 100%;
    .vacanceCelNoBorder{
      width: 50%;
    }
  }
  .allVacanceBtn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 96px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px){
  .vacanceListMainPage{
    display: flex;
    flex-wrap: wrap;
    padding-right: 32px;
    padding-left: 32px;
    margin-top: -70px;
    width: 100%;
    .vacanceCelNoBorder{
      width: 50%;
    }
  }
  .allVacanceBtn {
    display: flex;
    justify-content: center;
    margin-top: 106px;
    margin-bottom: 46px;
  }
}

@media screen and (max-width: 767px){
  .allVacanceBtn {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 32px;
  }
}